.container {
  max-width: 1440px;
  display: grid;
  gap: 8px;
  padding: 8px;
  margin: auto;
}

.box_container {
  display: grid;
  gap: 8px;
  padding: 8px;
}

.grid {
  display: grid;
  gap: 8px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.flex > * {
  width: 100%;
  max-width: 350px;
}

.default_padding {
  padding: 8px;
}

.border {
  border: 2px solid rgb(141, 141, 141);
  border-radius: 8px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.description {
  font-size: 16px;
  font-weight: 400;
}

.information {
  color: rgb(97, 97, 97);
  font-size: 12px;
  font-weight: 400;
}

.positive {
  font-style: italic;
  color: rgb(20, 187, 20);
  font-weight: 800;
}

.negative {
  font-style: italic;
  color: rgb(211, 24, 24);
  font-weight: 800;
}

.center_text {
  text-align: center;
}

.table {
  width: 100%;
  border: 2px solid rgb(141, 141, 141);
}

.table th {
  font-size: 14px;
  font-weight: 600;
  text-align: start;
  background-color: rgb(151, 151, 151);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
}

.table td {
  font-size: 12px;
  font-weight: 500;
  text-align: start;
  background-color: rgb(88, 88, 88);
  color: white;
  border-bottom: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
}

.table_positive {
  font-style: italic !important;
  color: rgb(20, 187, 20) !important;
  font-weight: 800 !important;
}

.table_negative {
  font-style: italic !important;
  color: rgb(211, 24, 24) !important;
  font-weight: 800 !important;
}

.box_design {
  background-color: #001323;
  color: white;
  border: 2px solid #889094;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.box_design:hover {
  scale: 1.01;
  transition: scale 0.15s;
  transition-timing-function: ease-in-out;
}
